#header {
    display: flex;
    margin: 30px;
    font-size: 20px;
    flex-direction: column;
    text-align: left;
}

#title {
    font-family: 'Staatliches';
    font-size: 80px;
}

#totalCash {
    text-decoration: solid;
    text-decoration: underline;
}
#leaderboardButton {
    font-size: 20px;
    text-align: center;
   
}  

#leaderboardList {
    text-align: left;
}

#playerName {
    justify-content: flex-end;
}

body {
    background-color: #29bdc1;
    font-family: 'Staatliches';
}

#dealerTitle {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

#leadAndReset {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#resetButton {
    height: 40px;
}

.container {
    display: flex;
    justify-content: center;
}

#author {
    text-align: center;
    font-size: 13px;
}

#resetButtonX {
    margin: 0 0 0 10px;
}

.nav-link {
    color: black
}

